<h2>Opciones</h2>
<hr>

<ul class="list-group">

  <li routerLink=""
  routerLinkActive="active"
  [routerLinkActiveOptions]="{ exact: true }"
  class="list-group-item">
    Home Page
  </li>
  <li routerLink="history"
  routerLinkActive="active"
  class="list-group-item">
    History Page
  </li>

  <!-- TODO: por cada movida nueva de opcion hay que cambiar en app-routing.module.ts para que al pulsar el boton cambiemos de pagina-->

  <li routerLink="other"
  routerLinkActive="active"
  class="list-group-item">
    Other Page
  </li>
  <li routerLink="some"
  routerLinkActive="active"
  class="list-group-item">
    Some Page
  </li>
  <li routerLink="make"
  routerLinkActive="active"
  class="list-group-item">
    Make Page
  </li>
  <li routerLink="another"></li>
